<main class="centerHV" style="height: 90vh;">
    <nz-card style="width: 30%; border-radius: 25px;" *ngIf="!startGame">
        <div nz-row *ngIf="!startGame">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" class="" style="text-align: center;">
                <button nz-button nzType="primary" class="btn second" (click)="
                funStartGame()" style="margin: auto;">Comenzar Juego!</button>
            </div>
        </div>
    </nz-card>
    <nz-card style="width: 90%; border-radius: 25px; margin-top: 5%;" *ngIf="!finishedGame && startGame" [nzExtra]="extraTemplate">
        <div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" class="">
                    <img [src]="cardImgNameSelected" alt="" style="margin:auto; display: block;" class="img-fluid">
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12">
                    <h1 class="card-name">{{cardNameSelected}}</h1>
                    <nz-progress nzType="circle" [nzPercent]="percent.toString()" class="img-fluid" [nzWidth]="300"
                        style="display: flex; justify-content: center;"
                        [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
                        [nzFormat]="formatProgressBarToSeconds">
                    </nz-progress>
                    <p [innerHTML]="loteriaScript" style="text-align: center; margin-top: 25px; font-size: large;"></p>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" class="" style="text-align: center;">
                    <button nz-button nzType="primary" class="btn second" (click)="
                    showModal()" style="margin: auto;">¡Loteria!</button>
                </div>
            </div>
            <!-- Modal to see cards after press button Loteria! -->
            <nz-modal [(nzVisible)]="modalVisible" nzTitle="¡Loteria!" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()" [nzOkLoading]="isModalLoading" nzWidth="95vw">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="12" [nzLg]="12" class="">
                        <label style="font-weight: bold;">Buscar:</label><br><br>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Escribe el nombre de la carta" style="width: 40%;">
                            <nz-option  *ngFor="let card of discoveredCards" nzLabel="{{card.name}}" nzValue="{{card.id}}"></nz-option>
                          </nz-select>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="4" [nzLg]="4" class=""
                        *ngFor="let card of discoveredCards">
                        <img src="./assets/img/cards/{{card.imageName}}" alt="" class="img-fluid">
                    </div>
                </div>
            </nz-modal>
        </div>
    </nz-card>
    <ng-template #extraTemplate>
        <span nz-icon nzType="setting" [nzTheme]="'twotone'" style="cursor: pointer; font-size: 36px;" (click)="showSettingsModal()"></span>
      </ng-template>
    <nz-card style="width: 90%; border-radius: 25px;" *ngIf="finishedGame">
        <div>
            <h1 class="text-center card-name">¡Ganaste!</h1>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" class="">
                    <img src="./assets/img/celebrate.gif" alt="" style="margin:auto; display: block;" class="img-fluid">
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" style="display: flex; justify-content: center;">
                    <button nz-button nzType="primary" class="btn second centerHV" (click)="
                    resetGame()" style="margin: auto;">Volver a jugar</button>
                </div>
            </div>
        </div>
    </nz-card>

    <nz-modal [(nzVisible)]="isModalSettingsVisible" nzTitle="The first Modal" (nzOnCancel)="settingModalCancel()" (nzOnOk)="settingModalOk()">
        <ng-container *nzModalContent>
            <form nz-form>
                <nz-form-item>
                  <nz-form-label [nzSpan]="24">Duración de segundos:</nz-form-label>
                  
                    <nz-input-number name="maxTime" [nzSize]="'large'" [(ngModel)]="maxTime" [nzMin]="1" [nzMax]="30" [nzStep]="1" style="width: 100%;"></nz-input-number>
                  
                </nz-form-item>
              </form>
        </ng-container>
      </nz-modal>
</main>